@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #292929;
    background-color: #E9F0FE;
    min-height: 100vh;
}

.title {
    margin: 3rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    margin: 2rem 0;
}

.button {
    margin: 0 .5rem;
}

.file, .file-label, .file-name {
    width: 100%;
    margin: 0 !important;
}

.file-name {
    background-color: #fff;
}

.textBlock {
    margin-top: 2rem;
    width: 50%;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: -5px -5px 60px 15px rgba(30, 119, 204, 0.1), 5px 5px 60px 15px rgba(30, 119, 204, 0.1);
}

.textBlock h2{
    margin-top: 0;
}