@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #292929;
}