<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', path='css/style.css') }}" rel="stylesheet">
    <title>Image Text Extractor</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Image Text Extractor</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label>
                <img alt="A blue cloud with an up white arrow inside" src="{{ url_for('static', path='img/cloud_icon.png') }}"/>
                Browse Files to upload
            </label>
            <input type="file" id="file" name="file" />
            <button type="submit">Upload</button>
        </form>
        
        {% if text %}
        <div class="textBlock">
            <h2>Text Extracted</h2>
            <p>
                {{ text }}
            </p>
        </div>
        {% endif %}
    </div>
</body>

</html>